*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  background-color:#ccc;
  background-image: url(../public/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  
}

body::before{
  /* content: "";
  height: clamp(12.5rem, 24vw, 18.75rem);
  background-image: url(../public/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  left: 0;
  padding-top: clamp(2.375rem, 4vw, 2.5rem);
  position: absolute;
  top: 0;
  width: 100%; */
}

@media (max-width: 375px) {

  body{
    background-image: url(../public/images/bg-mobile-dark.jpg);
  }
}

